* {
    text-align:center;
    margin:0;
    padding:0;
}
.parent {
    background-color:green;
    min-height:100px;
    padding: 2px;
    display:flex;
}
.example1 {
    justify-content:space-between;
    align-items:center;
}
.child {
    min-height:50px;
    min-width:50px;
}
.child.red {
    background-color:red;
}
.child.yellow {
    background-color:yellow;
}
.example2 {
    align-items:stretch;
}
.mainbox {
    background-color:yellow;
    order:2;
    flex:3;
}
.aside1 {
    background-color:lightblue;
    order:1;
    flex:1;
}
.aside2 {
    background-color:Pink;
    order:3;
    flex:1;
}
.example3 .child {
    flex:1;
}
.purple {
    background-color: purple;
}
.orange {
    background-color:orange;
}
.example4 {
    flex-direction:column;
}
.light {
    background-color:lightskyblue;
    min-height: 60px;
    max-height: 60px;
    flex: 6;
}
.row {
    margin: 2px;
    display: flex;
    flex-direction: row;
}
.r1 {
    order: -1;
}
.dark {
    background-color:blue;
    min-height: 60px;
    max-height: 60px;
    flex: 1;
}
.r2 {
    order:2;
}
.example5 {
    flex-direction:column;
}
.yellow {
    background-color:yellow;
    min-height: 40px;
    max-height: 40px;
    flex:1;
    margin:3px;
}
.bars {
    display:flex;
    flex-direction:row;
    flex:6;
    justify-content:space-around
}
.bar {
    background-color:teal;
    width:20%;
    min-height:300px;
}
.example6 {
    min-height:200px;
}
.child1 {
    min-height:100px;
    min-width:100px;
    flex:1;
    margin:2px;
}
.child2 {
    min-height:100px;
}


